<script src="https://apis.google.com/js/platform.js"></script>
<div style="text-align: center; padding-top: ">
  <div style="margin:auto; width:60% ">
    <hr style="margin-top:18px; margin-bottom:18px">
    <p style="font-weight: bold">Subscribe for more DevOps and Infrastructure content!</p>
    <div class=" g-ytsubscribe" data-channelid="UC4MdpjzjPuop_qWNAvR23JA" data-layout="full" data-count="default">
    </div>
  </div>
</div>